@model Domain.Entity.User
@{
    ViewData["Title"] = "Детали пользователя";
}

<h2>Детали пользователя</h2>

<div>
    <p><strong>ID:</strong> @Model.Id</p>
    <p><strong>Имя:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Роль:</strong> @Model.Role</p>
    <p><strong>Дата регистрации:</strong> @Model.Date_registration.ToString("dd.MM.yyyy")</p>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактировать</a>
<a asp-action="Index" class="btn btn-secondary">Назад</a>

<hr />